<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Trang tổng quan Quản Trị Viên</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<section>
    <div class="container p-5">
        <p class="text-center fw-bold fs-3 mt-4">Bảng điều khiển quản trị</p>
        <div class="row p-5">
            <div class="col-md-4 mt-2">
                <a href="/admin/loadAddProduct" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-center">
                            <i class="fa-solid fa-square-plus fa-3x text-primary"></i>
                            <h4>Thêm sản phẩm</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mt-2">
                <a href="/admin/category" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-center">
                            <i class="fa-solid fa-boxes-stacked fa-3x text-success"></i> <!-- Màu xanh lá cây -->
                            <h4>Thêm loại danh mục</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mt-2">
                <a href="/admin/products" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-center">
                            <i class="fa-solid fa-eye fa-3x text-info"></i> <!-- Màu xanh nhạt -->
                            <h4>Xem sản phẩm</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mt-4">
                <a href="/admin/orders" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-center">
                            <i class="fa-solid fa-cart-shopping fa-3x text-warning"></i> <!-- Màu vàng -->
                            <h4>Đơn đặt hàng</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mt-4">
                <a href="/admin/users?type=1" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-center">
                            <i class="fa-solid fa-users fa-3x text-danger"></i> <!-- Màu đỏ -->
                            <h4>Người dùng</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mt-4">
                <a href="/admin/add-admin" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-center">
                            <i class="fa-solid fa-user-shield fa-3x text-secondary"></i> <!-- Màu xám -->
                            <h4>Thêm quản trị viên</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 mt-4">
                <a href="/admin/users?type=2" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-info">
                            <i class="fa-solid fa-circle-user fa-3x"></i>
                            <h4>Quản trị viên</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
